


.first-box
{
  background-color: blue;
  padding: 20px;
  height: 200PX;
  width: 200PX;
 border:solid 10px;
}
.second-box
{
    background-color:red;
    border: solid 20px;
    height: 200PX;
    width: 200PX;
    margin-left: 260px;
    
}
.third-box
{
    background-color: aqua;
    width: 200px;
    height: 200px;
    border:solid 10px;
    margin-left: 500px;
    
}

   
